body {
  background: rgb(233, 206, 170);
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 18px;
}

.hero-section {
  border-radius: 15px 25px;
  text-align: right;
  padding: 100px 300px;
  margin: 40px;
  max-width: 1500px;
}

.hero-section h2 {
  font-size: 25px;
  padding: 20px auto;
}
.btn-main {
  color: white;
  background-color: rgb(14, 13, 11);
  font-family: "Playfair Display", serif;
  border-radius: 25px;
}
.btn-main:hover {
  background-color: rgb(233, 206, 170);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: 12px 12px 2px 1px rgba(76, 78, 72, 0.2);
}
.navbar-color {
  background-color: rgb(247, 226, 200);
  padding: 5px 10px;
}
.nav-link {
  font-family: "Poppins", sans-serif;
}
.frontpg-photo {
  border-radius: 50%;
}
.logo {
  max-width: 100px;
  padding: 5px;
  border-style: double;
  border-radius: 20px 5px;
}
#skills {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  font-size: 20px;
}
.skill-icon {
  display: block;
  font-size: 40px;
  text-align: center;
}
.container-skills {
  max-width: 500px;
  margin: 30px auto;
}
.text-center {
  font-family: "Poppins", sans-serif;
}
.aboutme-container {
  padding: 100px 50px;
}
.footer-container {
  padding: 50px;
  text-align: center;
  max-width: 700px;
}
.social-icon {
  margin: auto 10px;
  font-size: 20px;
}
@media (max-width: 1100px) {
  .hero-section {
    padding: 0%;
    padding-bottom: 30px;
    text-align: center;
  }
  .frontpg-photo {
    max-width: 75%;
    padding-bottom: 20px;
  }
  .logo {
    max-width: 50px;
  }
  .skill-icon {
    font-size: 30px;
  }
}
